.container{
    width: 15em;
    margin: 0.2em 0.2em;
    float: left;
    position: relative;
}

.pic img{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 0.7em;
    color: white;
}

.channel{
font-weight: 500;
}

.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.5em;
}

.views span{
    padding: 0 0.5em;
}

.close{
    position: absolute;
    right: 0;
    width: 50px;
}

.edit{
    position: absolute;
    right: 4em;
    width: 70px;
}